# --- BACKEND ---
backend/node_modules/
backend/chroma_data/
backend/.env
backend/.venv_chroma/

# --- FRONTEND ---
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# --- ROOT ---
node_modules/ 
bin/
lib/
include/
share/
pyvenv.cfg
chroma_db_lokal/
SOP_Bank_Jateng.pdf
text-generation-webui/
*.gguf
