DATABASE_URL=postgresql://username:password@host/dbname?sslmode=require&channel_binding=require
PORT=5000
JWT_SECRET=your_jwt_secret_here

CHROMA_URL=http://chroma:8000
OLLAMA_URL=http://host.docker.internal:11434/api/chat

CHROMA_API_KEY=your_chroma_api_key_here
CHROMA_TENANT=your_chroma_tenant_id_here
CHROMA_DATABASE=your_chroma_database_name_here